@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans');

:root {
    --shard-width: 58px;
    --shard-height: 40px;
}

body {
    background-color: rgb(15, 15, 20);
    color: #AAA;

    font-family: 'IBM Plex Sans', sans-serif;
}
input {
    background-color: rgb(20, 20, 25);
    color: #BBB;

    border: .5px solid;

    font-family: 'IBM Plex Mono', monospace;
}

.header {
    display: flex;
    align-items: center;
}
.header-text {
    margin: 0;
    margin-right: 10px;
}
.header-subtitle {
    border-bottom: solid 1px;
}
.header #shard-calc {
    margin-left: auto;
    justify-content: flex-end;
}

i.shard {
    border: none;
    margin: 0 5px 0 0;
    padding: 0 8px;
}

#shards-container {
    display: flex;
    flex-wrap: wrap;

    margin: 10px;
    border: 0.1px solid #AAA;
}

.shard {
    box-sizing: border-box;
    flex-grow: 1;

    width: var(--shard-width);
    height: var(--shard-height);
}
.shard:hover{
    border: 2px solid grey;
    transform: scale(2);
}
.shard-id {
    margin: auto;

    font-family: 'IBM Plex Mono';
    font-size: 12px;
}
.selected {
    border: solid 2.5px cyan;
}

.shard[data-status="unknown"] {
    color: #fff;
    background-color: rgb(30, 30, 30);
}
.shard[data-status="waiting"] {
    color: #fff;
    background-color: rgb(45, 37, 48);
}
.shard[data-status="starting"] {
    color: #fff;
    background-color: rgb(42, 69, 56);
}
.shard[data-status="online"] {
    color: #fff;
    background-color: rgb(16, 99, 16);
}
.shard[data-status="stopping"] {
    color: #fff;
    background-color: rgb(98, 57, 19);
}
.shard[data-status="offline"] {
    color: #fff;
    background-color: rgb(66, 0, 0);
}
